.Lanes {

    // Library classnames
    .react-trello-board {
        height: auto;
        background-color: initial;
    }

    .react-trello-lane {
        height: 500px;

        .smooth-dnd-container {
            height: 100%;
        }
    }
}
